.cityInfoBox-description, .cityInfoBox-image {
  display: inline-block;
  vertical-align: top; }

@media (max-width: 500px) {
  .cityInfoBox-description, .cityInfoBox-image {
    display: block;
    width: 100%; } }

.cityInfoBox {
  padding: 10px 10px 30px; }
  .cityInfoBox-description {
    width: 69%; }

@media (max-width: 500px) {
    .cityInfoBox-description {
        width: 100%;
    }
}
    .cityInfoBox-description p {
      padding-left: 40px;
      margin: 15px 0; }
      @media (max-width: 500px) {
        .cityInfoBox-description p {
            padding: 20px 0 0;
        }
      }
  .cityInfoBox-image {
    width: 30%;
    margin-top: 15px; }

@media (max-width: 500px) {
    .cityInfoBox-image {
        width: 100%;
        max-width: 400px;
        margin: 15px auto;
    }
}
  .cityInfoBox-buttons {
    text-align: right;
    margin-top: 30px; }
    .cityInfoBox-buttons button {
      color: #424242; }

.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  border: 1px solid #DEDEDE;
  background: #F0F0F0; }
  .pika-single.is-hidden {
    display: none; }
  .pika-single.is-bound {
    position: absolute;
    -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }

.pika-single:before, .pika-single:after {
  content: " ";
  display: table; }

.pika-single:after {
  clear: both; }

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px; }

.pika-title {
  position: relative;
  text-align: center; }
  .pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    opacity: 0; }

.pika-label {
  display: inline-block;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #424242; }

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 75% 75%;
          background-size: 75% 75%;
  opacity: .5; }
  .pika-prev:hover,
  .pika-next:hover {
    opacity: 1; }
  .pika-prev.is-disabled,
  .pika-next.is-disabled {
    cursor: default;
    opacity: .2; }

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg=="); }

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII="); }

.pika-select {
  display: inline-block; }

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }
  .pika-table th,
  .pika-table td {
    width: 14.285714285714286%;
    padding: 0; }
  .pika-table th {
    color: #424242;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center; }
  .pika-table abbr {
    border-bottom: none;
    cursor: help; }

.pika-button {
  cursor: pointer;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #424242;
  font-size: 12px;
  line-height: 15px;
  text-align: right; }
  .is-today .pika-button {
    color: #FF6F00;
    font-weight: bold; }
  .is-selected .pika-button {
    color: #F0F0F0;
    font-weight: bold;
    background: #FF6F00;
    border-radius: 3px; }
  .is-disabled .pika-button,
  .is-outside-current-month .pika-button {
    color: #BEBEBE; }
  .is-disabled .pika-button {
    pointer-events: none;
    cursor: default; }
  .pika-button:hover {
    background: #FFC107;
    color: #424242;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 3px; }
  .pika-button .is-selection-disabled {
    pointer-events: none;
    cursor: default; }

.dialog {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  margin: 0;
  width: 100%;
    height: 100%;
  padding: 0;
  text-align: center; }
  .dialog-box {
    margin: 0 auto;
    display: inline-block;
    width: 300px;
    background: #F0F0F0;
    position: relative;
    text-align: left;
    top: 30%;
    padding: 10px;
    border-radius: 5px; }
    .dialog-box-title {
      padding: 10px;
      border-width: 0 0 2px 0;
      border-style: solid;
      border-color: #FFC107;
      color: #424242; }
      .dialog-box-title h4 {
        display: none;
          margin: 0 0 0 10px;
      }
      .notice .dialog-box-title-notice {
        display: inline-block; }
      .warning .dialog-box-title {
        color: #FF6F00;
        border-color: #FF6F00; }
        .warning .dialog-box-title-warning {
          display: inline-block; }
      .error .dialog-box-title {
        color: #DC3545;
        border-color: #DC3545; }
        .error .dialog-box-title-error {
          display: inline-block; }
    .dialog-box-content {
      font-size: 0.9em;
        padding: 10px;
    }
    .dialog-box-buttons {
      text-align: right;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
      .dialog-box-buttons-button {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer; }
        .dialog-box-buttons-button.negative {
          color: #DC3545; }
        .dialog-box-buttons-button:hover {
          color: #FF6F00; }

.toast {
  display: none;
    position: fixed;
    top: 0;
  border: 0;
    margin: 30px 0 0 -webkit-calc(100% - 330px);
    margin: 30px 0 0 -moz-calc(100% - 330px);
    margin: 30px 0 0 calc(100% - 330px);
  width: 300px;
  padding: 20px 15px;
  background: #424242;
  color: #F0F0F0;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 #424242;
    box-shadow: 0 2px 5px 0 #424242;
    opacity: 0.9;
}
  .toast.error {
      background: #DC3545;
  }
  .toast.warning {
      background: #FFC107;
      color: #424242;
  }

.messages-dialog-toast {
    display: none;
}

.messages-datepicker {
    display: none;
}

.discount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .discount-item {
    width: 180px;
    height: 120px;
    background: #DEDEDE;
    position: relative;
    margin: 20px 5px; }
    .discount-item:before {
      content: '';
      position: absolute;
      bottom: -5px;
      right: -5px;
      border-bottom: 35px solid #F0F0F0;
      border-left: 35px solid transparent;
      width: 0; }
    .discount-item:hover {
      cursor: pointer;
      background-color: #FFC107; }
    .discount-item-description {
      padding: 20px;
      font-weight: bold;
      font-size: 0.9em;
      text-transform: uppercase; }
    .discount-item-discount {
      color: #DC3545;
      font-size: 2em;
      position: absolute;
      bottom: 15px;
      right: 20px;
      font-weight: bold; }

input {
  padding: 10px;
  border: 1px solid #424242;
  border-radius: 5px;
  background: #F0F0F0; }
  input:focus {
    outline: none; }

.button {
  border-radius: 5px;
  display: inline-block;
  background: #FFC107;
  border: 1px solid #424242;
  padding: 14px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    background: #FF6F00;
    color: #F0F0F0; }
  .button.disabled {
    background: #DEDEDE;
    color: #424242;
    cursor: default; }
    .button.disabled:hover {
      background: #DEDEDE;
      color: #424242; }
  .button.error {
    background: #DC3545;
    color: #F0F0F0; }
    .button.error:hover {
      background: #e4606d; }

h2 {
  font-size: 1.1em;
  margin: 0;
  padding: 20px; }
  h2.article-title {
    text-align: left;
    color: #FF6F00;
    letter-spacing: 2px;
    padding-bottom: 1.5%;
    text-transform: uppercase; }
    h2.article-title::after, h2.article-title:after {
      display: inline-block;
      content: "";
      border: 1px solid #FF6F00;
      width: 100%; }

.select-items div, .select-selected {
  padding: 8px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; }

.select {
  position: relative;
  display: inline-block;
  background: #F0F0F0;
  color: #424242;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .select select, .select .select-hide {
    display: none; }
  .select-items {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: inherit;
    z-index: 99; }
    .select-items div:hover, .select-items-selected {
      background-color: rgba(0, 0, 0, 0.1); }
  .select-selected:after {
    position: absolute;
    top: 14px;
    right: 10px;
    content: "";
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: #424242 transparent transparent transparent; }
  .select-selected .select-arrow-active:after {
    border-color: transparent transparent #424242 transparent;
    top: 7px; }
  .select-tiny {
    width: 70px; }
  .select-small {
    width: 100px; }
  .select-normal {
    width: 200px; }
  .select.disabled {
    cursor: default; }

.errorPage {
  text-align: center; }
  .errorPage-content {
    font-style: italic; }
  .errorPage-buttons {
    padding-top: 20px; }

.footer-contactInfo, .footer-locationInfo {
  display: inline-block;
  width: 48%;
  padding: 20px 5px; }

.footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background: #424242;
  color: #F0F0F0; }
  .footer-contactInfo {
    text-align: left; }
    @media (max-width: 700px) {
      .footer-contactInfo {
        width: 100%; } }
    .footer-contactInfo td {
      padding: 10px; }
      .footer-contactInfo td .icon {
        text-align: center;
        color: #FFC107; }
      .footer-contactInfo td a {
        color: #F0F0F0; }
    .footer-contactInfo-socialNetworks span {
      font-size: 2.5em;
      cursor: pointer;
      margin: 5px; }
    .footer-contactInfo-applicationStore {
      padding: 0;
      cursor: pointer; }
  @media (max-width: 700px) {
    .footer-locationInfo {
      width: 100%; } }
  .footer-locationInfo > div {
    width: 100%;
    height: 300px; }
  .footer-copyright {
    color: #DEDEDE;
    margin: 0;
    background: black;
    padding: 17px;
    font-size: 0.8em;
    letter-spacing: 2px;
    text-align: center; }

.header {
  height: 70px;
  background: #FFC107; }
  @media (max-width: 500px) {
    .header {
      height: 50px; } }
  .header .center {
    height: 100%; }
  .header-logo {
    -o-object-fit: contain;
       object-fit: contain; }
  .header-buttons {
    position: absolute;
    top: 18px;
    right: 20px; }
    @media (max-width: 500px) {
      .header-buttons {
        top: 6px; } }
    .header-buttons .icon {
      font-size: 1.6em;
      vertical-align: middle;
      color: #424242; }
    .header-buttons a {
      margin: 0 5px; }
    .header-buttons form {
      display: inline; }
      .header-buttons form .select {
        vertical-align: middle;
        background: #FFC107; }
      .header-buttons form .select-selected {
        border-bottom: 0; }

.infoBox-item-column, .infoBox-item-button {
    padding: 10px 0;
    border-bottom: 1px solid #DEDEDE;
}

.infoBox {
  margin: 25px 0;
  width: 100%;
  padding: 0 10px;
  border-collapse: collapse;
  table-layout: fixed; }

@media (max-width: 700px) {
    .infoBox-item {
        display: block;
        border: 2px solid #DEDEDE;
        margin: 20px;
    }

    .infoBox-item td {
        display: block;
        border: none;
    }
}
  .infoBox-item:hover {
    background: #BEBEBE; }

.infoBox-item-column {
    text-align: center; }

.infoBox-item-column:first-of-type, .infoBox-item-column:last-of-type {
      padding: 10px; }

.infoBox-item-button {
    text-align: right;
    padding-right: 20px;
}

@media (max-width: 700px) {
    .infoBox-item-button {
        margin-right: 10px;
    }
}

.infoBox-item-button .button {
      min-width: 0; }

@font-face {
  font-family: "icon";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none;
  color: #424242; }

main, header, footer, section, article, nav {
  display: block; }

html {
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-height: 100%;
  margin: 0;
  font-family: Roboto, serif;
  position: relative;
  color: #424242;
  background: #F0F0F0; }
  body-blockScroll {
    overflow-y: hidden; }

.icon {
  font-family: icon, serif; }

.center {
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

.paddingBottom {
    padding-bottom: 20px;
}

.marginLeft {
    margin-left: 20px;
}

.errorText {
  color: #DC3545; }

.shadowText {
  color: #BEBEBE; }

.warningText {
  color: #edb100; }

.navigation-simple-button, .navigation-simple-backButton, .navigation-tabular-based-button, .navigation-tabular-based-backButton, .navigation-link-based-button, .navigation-link-based-backButton {
  display: inline-block;
  padding: 0 20px;
  min-width: 100px;
  text-align: center;
  line-height: 64px;
  cursor: pointer;
  color: #424242; }

.navigation-simple-button:hover, .navigation-simple-backButton:hover, .navigation-tabular-based-button:hover, .navigation-tabular-based-backButton:hover, .navigation-link-based-button:hover, .navigation-link-based-backButton:hover, .navigation-link-based-button.active {
  background: #F0F0F0; }

.navigation-simple-button, .navigation-simple-backButton, .navigation-tabular-based-backButton {
  margin: 10px;
  line-height: 42px;
  border: 1px solid #424242;
  border-radius: 5px; }

.navigation {
  margin-bottom: 10px;
  background: #DEDEDE; }
  .navigation > div.center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (max-width: 500px) {
      .navigation > div.center {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .navigation-simple-buttons {
    min-width: 120px; }

@media (max-width: 500px) {
    .navigation-simple-buttons {
        min-width: 0;
    }
}
  .navigation-simple-button {
    background: #FFC107; }
    .navigation-simple-button:hover {
      background: #FF6F00;
      color: #F0F0F0; }
  .navigation-simple-title {
    display: inline-block;
    margin: 0 auto;
    text-transform: capitalize; }
    @media (max-width: 500px) {
      .navigation-simple-title {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
           -moz-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
           -moz-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        text-align: center; } }
  .navigation-tabular-based-button:hover, .navigation-tabular-based-button.active {
    color: #FF6F00;
    background: #DEDEDE;
    -webkit-box-shadow: 0px -4px 0px 0px #FF6F00 inset;
            box-shadow: 0px -4px 0px 0px #FF6F00 inset; }
  @media (max-width: 500px) {
    .navigation-link-based-button {
      min-width: 50%; } }
  @media (max-width: 500px) {
    .navigation-link-based-backButton {
      display: none; } }

.paginationBox-button:not(.disabled):hover, .paginationBox-numbers-items-item:hover {
  background: #F0F0F0;
  cursor: pointer; }

.paginationBox {
  margin: 10px;
  background: #DEDEDE;
  border-radius: 5px;
  padding: 10px; }
  .paginationBox-button {
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: center; }
    .paginationBox-button.disabled {
      color: #BEBEBE;
      pointer-events: none; }
    .paginationBox-button:not(.disabled):hover {
      border-radius: 10px; }
    .paginationBox-button-icon {
      vertical-align: middle;
      margin: 0 5px; }
    .paginationBox-button-text {
      vertical-align: middle; }

@media (max-width: 700px) {
    .paginationBox-button-text {
        display: none;
    }
}
  .paginationBox-numbers {
    display: inline-block;
    width: 59%;
    vertical-align: middle; }
    .paginationBox-numbers-items {
      table-layout: fixed;
      width: 100%;
      max-width: 450px;
      margin: 0 auto; }
      .paginationBox-numbers-items a {
        display: block;
        height: 45px;
        line-height: 45px; }
      .paginationBox-numbers-items-item {
        text-align: center;
        border-radius: 10px; }
        .paginationBox-numbers-items-item.active {
          background: #FFC107; }

.paymentBox-content {
  background: #DEDEDE;
  padding: 20px; }
  .paymentBox-content-values {
    display: none; }
  .paymentBox-content-title {
    padding: 0;
    margin: 0 0 30px; }
  .paymentBox-content-container {
    width: 100%;
    border-collapse: collapse; }
    .paymentBox-content-container-item {
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .paymentBox-content-container-item td {
        padding: 10px; }
      .paymentBox-content-container-item .icon {
        font-size: 1.8em; }
      .paymentBox-content-container-item.active {
        background: #FFC107; }

.paymentBox-button {
  padding: 20px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
     -moz-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right; }
  .paymentBox-button-paypal {
    position: relative;
    max-width: 150px;
    overflow: hidden;
    height: 50px; }
  .paymentBox-button .button {
    width: 150px;
    border: none;
    font-weight: bold; }
  .paymentBox-button .hidden {
    display: none; }

.promotionBox {
  text-align: center; }
  .promotionBox-item {
    display: inline-block;
    width: 32%;
    padding: 8px;
    position: relative;
    max-width: 400px;
    cursor: pointer; }
    @media (max-width: 700px) {
      .promotionBox-item {
        width: 48%; } }
    @media (max-width: 500px) {
      .promotionBox-item {
        width: 98%; } }
    .promotionBox-item:hover .promotionBox-item-image {
      -webkit-filter: opacity(70%);
              filter: opacity(70%); }
    .promotionBox-item-image {
      width: 100%; }
    .promotionBox-item-info {
      position: absolute;
      right: 8px;
      bottom: 12px;
      left: 8px;
      background: rgba(0, 0, 0, 0.4); }
      .promotionBox-item-info-title {
        margin: 1em;
        margin-bottom: 0.5em;
        text-align: left;
        color: #F0F0F0; }
      .promotionBox-item-info-price {
        float: right;
        padding: 10px;
        width: 110px;
        background: #FFC107; }

.scheduleBox {
  margin: 25px 0;
  width: 100%;
  padding: 0 10px;
  border-collapse: collapse; }
  @media (max-width: 700px) {
    .scheduleBox-item {
      display: block;
      border-style: solid;
      margin: 10px 0;
      padding: 10px;
      border-width: 1px 0;
      border-color: #BEBEBE; } }
  .scheduleBox-item.disabled, .scheduleBox-item.disabled .select-selected {
    background: #BEBEBE; }
  .scheduleBox-item:not(.disabled):hover, .scheduleBox-item:not(.disabled):hover .select-selected {
    background: #DEDEDE; }
  .scheduleBox-item td {
    padding: 10px 0;
    border-bottom: 1px solid #DEDEDE; }
    @media (max-width: 700px) {
      .scheduleBox-item td {
        border: 0;
          display: block;
          text-align: center;
      }

        .scheduleBox-item td.scheduleBox-item-adults, .scheduleBox-item td.scheduleBox-item-children {
            display: inline-block;
            width: 50%;
        }
    }
    .scheduleBox-item td:first-of-type, .scheduleBox-item td:last-of-type {
      padding: 10px; }
  .scheduleBox-item-title-main {
    text-transform: capitalize;
    font-size: 1.3em;
    margin-bottom: 5px; }
    .scheduleBox-item-title-main .icon {
      font-size: 0.8em;
      vertical-align: middle;
      margin: 0 5px;
      padding-bottom: 5px; }
  .scheduleBox-item-title-description {
    font-size: 0.7em;
    font-style: italic; }
  .scheduleBox-item-adults select, .scheduleBox-item-children select {
    margin-left: 10px; }
  .scheduleBox-item-price {
    font-weight: bold;
    font-size: 1.1em; }
    .scheduleBox-item-price-payingMethod {
      color: #FF6F00;
      font-weight: 100; }
  .scheduleBox-item-buttons {
    text-align: right; }
    .scheduleBox-item-buttons .mobile {
      display: none; }
    .scheduleBox-item-buttons .button {
      min-width: 0; }
    @media (max-width: 700px) {
      .scheduleBox-item-buttons {
        text-align: center; }
        .scheduleBox-item-buttons .desktop-tablet {
          display: none; }
        .scheduleBox-item-buttons .mobile {
          display: inline; } }

.searchBox-content-compact table td button, .searchBox-content-full table td button, .searchBar-content button {
  border: 1px solid #424242;
  border-radius: 5px;
  padding: 0 20px;
  height: 37px;
  background: #F0F0F0; }

.searchBox-content-compact table td button:hover, .searchBox-content-full table td button:hover, .searchBar-content button:hover {
  cursor: pointer; }

.searchBox-content-compact table, .searchBox-content-full table {
  width: 100%; }
  .searchBox-content-compact table td, .searchBox-content-full table td {
    padding: 5px; }
    .searchBox-content-compact table td input, .searchBox-content-full table td input {
      background: #F0F0F0;
      width: 100%;
      text-transform: capitalize; }
    .searchBox-content-compact table td span.icon, .searchBox-content-full table td span.icon {
      font-size: 1.2em; }

.searchBox {
  background-image: url("../images/banner.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px; }
  .searchBox .center {
    position: relative;
    height: 300px; }
  .searchBox-content {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 black;
            box-shadow: 0 0 0 black;
    position: absolute;
    right: 5px;
    bottom: 20px;
    left: 5px; }
    @media (max-width: 700px) {
      .searchBox-content {
        background: #DEDEDE;
        bottom: 0;
        border-radius: 0;
        left: 0;
        right: 0; } }
    .searchBox-content-compact {
      display: none; }
      @media (max-width: 500px) {
        .searchBox-content-compact {
          display: block; } }
      @media (max-width: 500px) {
        .searchBox-content-compact table td button {
          width: 100%; } }
    .searchBox-content-full {
      display: block; }
      @media (max-width: 500px) {
        .searchBox-content-full {
          display: none; } }

.searchBar {
  background-color: #DEDEDE;
  padding: 10px;
  border-radius: 5px; }
  .searchBar-content {
    width: 100%;
    table-layout: fixed; }
    .searchBar-content td {
      text-align: right;
      padding: 0 10px; }

@media (max-width: 700px) {
    .searchBar.wrap td {
        display: inline-block;
        width: 40%;
        margin: 5px;
        text-align: left;
    }

    .searchBar.wrap td:last-of-type {
        width: 95%;
        text-align: right;
    }
}

.searchContainer {
  position: relative; }
  .searchContainer-elements {
    position: absolute;
    background: #F0F0F0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 100;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .searchContainer-elements-element {
      padding: 8px 15px;
      border-bottom: 1px solid #BEBEBE;
      font-size: 0.8em;
      text-align: left; }
      .searchContainer-elements-element:hover {
        cursor: pointer;
        background: #DEDEDE; }

.successPage {
  text-align: center; }
  .successPage-content {
    font-style: italic; }
  .successPage-buttons {
    padding-top: 20px; }

.switchBox {
  position: relative;
  width: 60px;
  height: 36px; }
  .switchBox-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #DEDEDE;
    border-radius: 100px; }
  .switchBox-knobs {
    position: absolute;
    top: 3px;
    left: 4px;
    z-index: 2;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    transition: 0.3s ease all;
    height: 30px;
    width: 30px;
    background: #BEBEBE;
    border-radius: 50%; }
  .switchBox-checkbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #F0F0F0;
    opacity: 0;
    z-index: 3; }
    .switchBox-checkbox:checked + .switchBox-knobs {
      left: 26px;
      background: #FFC107; }
    .switchBox-checkbox:checked ~ .switchBox-layer {
      background: #ffdb6d; }

.ticket {
  background-color: white;
  color: black; }
  .ticket h3 {
    margin: 0;
    text-align: center;
    padding: 14px; }
  .ticket-content {
    width: 100%; }
    .ticket-content td {
      padding: 3px; }
      .ticket-content td.center {
        text-align: center; }
      .ticket-content td label, .ticket-content td span {
        font-size: 0.8em; }
      .ticket-content td input {
        border: 1px solid black;
        border-radius: 0;
        background: white;
        color: black;
        font-weight: bold;
        width: 140px;
        padding: 7px; }

.totalBox {
  padding: 20px 0 10px;
  border-bottom: 2px solid #424242; }
  .totalBox-price {
    font-size: 1.1em;
    font-weight: bold; }

.trafficInfoBox-image, .trafficInfoBox-text, .trafficInfoBox-text-item-content, .trafficInfoBox-text-item-icon {
  display: inline-block;
  vertical-align: top; }

.trafficInfoBox {
  background: #DEDEDE; }
  .trafficInfoBox-image {
    width: 34%;
    padding: 1%;
    text-align: center; }
    @media (max-width: 700px) {
      .trafficInfoBox-image {
        width: 24%; } }
    @media (max-width: 500px) {
      .trafficInfoBox-image {
        display: none; } }
    .trafficInfoBox-image img {
      width: 100%;
      max-width: 400px; }
  .trafficInfoBox-text {
    width: 64%;
      padding: 0 2% 2%;
  }
    @media (max-width: 700px) {
      .trafficInfoBox-text {
        width: 74%; } }
    @media (max-width: 500px) {
      .trafficInfoBox-text {
        width: 100%; } }
    .trafficInfoBox-text-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
      .trafficInfoBox-text-item-content, .trafficInfoBox-text-item-icon {
        padding: 4px; }
        .trafficInfoBox-text-item-content-date, .trafficInfoBox-text-item-icon-date {
          font-size: 0.8em;
          font-style: italic; }

.userBox {
  margin: 40px 0; }
  .userBox-content {
    width: 100%; }
    .userBox-content-item-error {
      background: #e04b59;
      color: #F0F0F0;
      padding: 20px;
      border-radius: 5px; }
    .userBox-content-item td {
      padding: 10px; }
      .userBox-content-item td label {
        text-align: right;
        display: block; }
      .userBox-content-item td input {
        min-width: 280px; }
        @media (max-width: 500px) {
          .userBox-content-item td input {
            min-width: 0; } }
    .userBox-content-title td {
      text-align: center;
      position: relative; }
    .userBox-content-title-content {
      padding: 0;
      margin: 40px auto;
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
      width: 200px;
      background: #F0F0F0;
      z-index: 3;
      position: relative;
      font-style: italic; }
    .userBox-content-title-decoration {
      position: absolute;
      left: 0;
      bottom: 0;
      border: 1px solid black;
      height: 1px;
      width: 100%;
      top: 50%;
      z-index: 1; }
    .userBox-content-socialNetworks {
      text-align: center; }
    .userBox-content-buttons {
      text-align: right; }
      .userBox-content-buttons td {
        padding-right: 40px; }
