//Created by Sanjin Kurelic (kurelic@sanjin.eu)

%infoBox-tableCell {
  padding: 10px 0;
  border-bottom: 1px solid color(dark-shadow);
}

.infoBox {
  margin: 25px 0;
  width: 100%;
  padding: 0 10px;
  border-collapse: collapse;
  table-layout: fixed;

  &-item {

    &:hover {
      background: color(light-shadow);
    }

    &-column {
      @extend %infoBox-tableCell;
      text-align: center;

      &:first-of-type, &:last-of-type {
        padding: 10px;
      }
    }

    &-button {
      @extend %infoBox-tableCell;
      text-align: right;

      & .button {
        min-width: 0;
      }
    }

  }
}