// Created by Sanjin Kurelić (kurelic@sanjin.eu)

@include cbc_font-face('icon', '../fonts/iconFont');

// Fixes & default styles
a {
  text-decoration: none;
  color: color(dark);
}

main, header, footer, section, article, nav {
  display: block;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: Roboto, serif;
  position: relative;
  color: color(dark);
  background: color(light);

  &-blockScroll {
    overflow-y: hidden;
  }
}

.icon {
  font-family: icon, serif;
}

.center {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.paddingBottom {
  padding-bottom: 20px;
}

.marginLeft {
  margin-left: 20px;
}

.errorText {
  color: color(error);
}

.shadowText {
  color: color(light-shadow);
}

.warningText {
  color: darken(color(warning), 5);
}